<div class="card">
  <div class="card-header">
    Description
  </div>
  <div class="card-body">
    {% comment %} <h6 class="card-title">Description</h6> {% endcomment %}
    <p class="card-text">{{ supertask.description }}</p>
  </div>
</div>
<br>
<h6>Task List</h6>
<ul>
  {% for task in subtasks %}
  <li><span class="fs-4">{{ task.title }}</span> → <span>{% widthratio task.achievement 1 100 %} % Achieved</span></li>
  {% endfor %}
</ul>
<a class="btn btn-link" href="{% url 'tracks:tasks' supertask.pk %}">See in Table</a>
<a class="btn btn-link" href="{% url 'tracks:create_subtask' supertask.pk %}">Create Subtask</a>
<a class="btn btn-link" href="{% url 'tracks:update' supertask.pk %}">Update Task</a>
<a class="btn btn-link"
  hx-delete="{% url 'tracks:delete' supertask.pk %}"
  hx-target="body"
  hx-confirm="This will delete all related subtasks.">Delete Task</a>