{% load custom_filters %}
<tr id="detail-row-{{ supertask.pk }}">
  <td colspan="4">
    <div>
      <div class="card">
        <div class="card-header">
          Description
        </div>
        <div class="card-body">
          <p class="card-text">{{ supertask.description|markdown }}</p>
        </div>
      </div>
      <br>
      {# pagination #}
      <div>
        <h5>Subtask List</h5>
        <div class="d-flex justify-content-center">
          <ul id="subtasks-for-{{ supertask.pk }}" class="text-start">
            {% include 'crackers/components/subtasks.html' %}
          </ul>
        </div>
      </div>
      <nav aria-label="pagination">
        <ul id="paginator-{{ supertask.pk }}" class="pagination pagination-sm justify-content-center">
          {% include 'crackers/components/paginator.html' %}
        </ul>
      </nav>
      <a class="btn btn-link btn-sm" href="{% url 'tracks:tasks' supertask.pk %}">See in Table</a>
      <a class="btn btn-link btn-sm" href="{% url 'tracks:create_subtask' supertask.pk %}">Create Subtask</a>
      <a class="btn btn-link btn-sm" href="{% url 'tracks:update' supertask.pk %}">Update Task</a>
      <a class="btn btn-link btn-sm"
        hx-delete="{% url 'tracks:delete' supertask.pk %}"
        hx-target="body"
        hx-confirm="This will delete all related subtasks.">Delete Task</a>
      {# tree 구조 변경하는 버튼 추가 #}
    </div>
  </td>
</tr>
