<div>{{ objective.description }}</div>
<h6>Task List</h6>
<ul>
  {% for task in objective.tasks.all %}
  <li><span>{{ task.title }}</span><span>{{ task.achievement }}</span></li>
  {% endfor %}
</ul>
<a class="btn btn-link" href="{% url 'tracks:tasks' objective.pk %}">See in Table</a>
<a class="btn btn-link" href="{% url 'tracks:create_task' objective.pk %}">Create Subtask</a>
{% comment %} <a class="btn btn-link" href="{% url 'tracks:update' objective.pk %}">Update Task</a> {% endcomment %}
<a class="btn btn-link"
  hx-delete="{% url 'tracks:delete' objective.pk %}"
  hx-confirm="Are you sure to delete this objective? This will delete all related subtasks.">Delete Task</a>