{% load custom_filters %}
{% for task in page_obj %}
<tr class="row pointer" hx-get="{% url 'tracks:tasks' task.pk %}" hx-replace-url="true" hx-target="body">
  <th scope="row" class="col-8 text-truncate">{{ task.title }}</th>
  <td class="col-4">
    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark" style="width: {% widthratio task.achievement 1 100 %}%"></div>
    </div>
  </td>
</tr>
{% empty %}
<tr colspan="2">
  <p class="pointer" hx-get="{% url 'tracks:create_subtask' supertask.pk %}" hx-replace-url="true" hx-target="body">There's no related subtask. Create one.</p>
</tr>
{% endfor %}