{% load custom_filters %}
{% for task in page_obj %}
<tr class="row" style="transform: rotate(0);">
  <th scope="row" class="col-8 text-truncate">
    <a class="stretched-link text-decoration-none text-body" href="{% url 'tracks:tasks' task.pk %}">
      {{ task.title }}
    </a>
  </th>
  <td class="col-4">
    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark" style="width: {% widthratio task.achievement 1 100 %}%"></div>
    </div>
  </td>
</tr>
{% empty %}
<tr colspan="2" style="transform: rotate(0);">
  <td>
    <a class="stretched-link text-decoration-none text-body" href="{% url 'tracks:create_subtask' supertask.pk %}">There's no related subtask. Create one.</a>
  </td>
</tr>
{% endfor %}