<tr>
  <th scope="row">{{ task.pk }}</th>
  {% if task.subtasks.exists %}
  <td>
    <button hx-get="{% url 'tracks:detail' task.pk %}" hx-target=".offcanvas-body" hx-swap="innerHTML" class="btn btn-link btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">{{ task.title }}</button>
  </td>
  {% else %}
  <td class="pointer" hx-get="{% url 'tracks:redirect_to_create' task.pk %}" hx-confirm="There's no related subtask. Create one now."><span class="mx-2">{{ task.title }}</span></td>
  {% endif %}
  <td>{{ task.achievement }}</td>
  <td>{{ task.completed }}(체크박스 또는 hx)</td>
  <td>{{ task.duration }}</td>
  <td>
    {% if task.supertask is None %}
    <a class="btn btn-primary"
      hx-delete="{% url 'tracks:delete' task.pk %}"
      hx-confirm="Are you sure to delete this objective? This action deletes all related subtasks.">Delete this objective</a>
    {% else %}
    <a class="btn btn-primary"
      hx-delete="{% url 'tracks:delete' task.pk %}"
      hx-confirm="Are you sure to delete this task? This action deletes all related subtasks.">Delete This Task</a>
    {% endif %}
  </td>
</tr>