<div>{{ task.description }}</div>
<h6>Task List</h6>
<ul>
  {% for subtask in task.subtasks.all %}
  <li><span>{{ subtask.title }}</span> <span>{{ subtask.achievement }}</span></li>
  {% endfor %}
</ul>
<a class="btn btn-link" href="{% url 'tracks:tasks' task.pk %}">See in Table</a>
<a class="btn btn-link" href="{% url 'tracks:create_task' task.pk %}">Create Subtask</a>
{% comment %} <a class="btn btn-link" href="{% url 'tracks:update' task.pk %}">Update Task</a> {% endcomment %}
{% comment %} <a class="btn btn-link"
  hx-delete="{% url 'tracks:delete' task.pk %}"
  hx-confirm="Are you sure to delete this task? This will delete all related subtasks.">Delete Objective</a> {% endcomment %}