{% for task in tasks %}
{% if task.subtasks.exists %}
<tr hx-get="{% url 'tracks:tasks' task.pk %}" hx-target="#task-list" hx-swap="innerHTML">
  <th scope="row">{{ task.pk }}</th>
  <td>{{ task.title }}</td>
  <td>{{ task.description }}</td>
  <td>{{ task.achievement }}</td>
</tr>
{% else %}
<tr>
  <th scope="row">{{ task.pk }}</th>
  <td>{{ task.title }}</td>
  <td>{{ task.description }}</td>
  {# 시간 측정, 및 완료 체크 #}
  <td>완료 체크</td>
</tr>
{% endif %}
{% empty %}
<a href="{% url 'tracks:create' %}"></a>
{% endfor %}