{% extends 'base.html' %}

{% block content %}
{% with breadcrumb.0 as objective %}
{% if objective == supertask %}
<div class="my-3">
  <h1 class="col">Objective : {{ supertask.title }}</h1>
  <div class="progress col" role="progressbar" aria-label="supertask-achievement" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-danger" style="width: {% widthratio supertask.achievement 1 100 as width %}{{ width }}%">{{ width }}% Achieved</div>
  </div>
</div>
{% else %}
<div class="my-3">
  <h5>Objective : {{ objective.title }}</h5>
</div>
<div class="my-3">
  <h1>Task : {{ supertask.title }}</h1>
  <div class="progress" role="progressbar" aria-label="supertask-achievement" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-danger" style="width: {% widthratio supertask.achievement 1 100 as width %}{{ width }}%">{{ width }}% Achieved</div>
  </div>
</div>
{% endif %}
{% block task_template %}
{% endblock task_template %}

<a class="btn btn-link" href="{% url 'tracks:create_subtask' supertask.pk %}">Create Subtask</a>
{% if supertask == objective %}
<a class="btn btn-link" href="{% url 'tracks:update' supertask.pk %}">Update Objective</a>
{% else %}
<a class="btn btn-link" href="{% url 'tracks:update' supertask.pk %}">Update Task</a>
{% endif %}
<a class="btn btn-link"
hx-delete="{% url 'tracks:delete' supertask.pk %}"
hx-confirm="This action deletes all related subtasks.">Delete Task</a>
{% endwith %}
{% endblock content %}
