{% extends 'base.html' %}

{% block content %}
<div>
  <h1 class="d-inline-block">Objective : {{ objective.title }}</h1>
  <span># {{ objective.type }}</span><br>
  <div class="progress" role="progressbar" aria-label="objective-achievement" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-danger" style="width: {% widthratio objective.achievement 1 100 as width %}{{ width }}%">{{ width }}% Achieved</div>
  </div>
</div>

{% block task_template %}
{% endblock task_template %}

<a class="btn btn-link" href="{% url 'tracks:create_task' objective.pk %}">Create Subtask</a>
<a class="btn btn-link" href="{% url 'tracks:update' objective.pk %}">Update Objective</a>
<a class="btn btn-link"
  hx-delete="{% url 'tracks:delete' objective.pk %}"
  hx-confirm="Are you sure to delete this task? This action deletes all related subtasks.">Delete Task</a>
{% endblock content %}
