{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>{{ title }}</h1>
<form action="{{ action }}" method="post">
  <input type="hidden" name="_path" value={{ path }}>
  {% csrf_token %}
  {% with form.title as title %}
  <div class="form-group my-3">
    <label for="{{ title.id_for_label }}">{{ title.label }}</label>
    <input autofocus required type="{{ title.field.widget.input_type }}" class="form-control" placeholder="{{ title.label }}" name="{{ title.name }}" />
  </div>
  {% endwith %}
  
  {% with form.description as description %}
  <div class="form-group my-3">
    <label for="{{ description.id_for_label }}">{{ description.label }}</label>
    <textarea id="{{ description.id_for_label }}" class="form-control" placeholder="{{ description.label }}" name="{{ description.name }}"></textarea>
  </div>
  {% endwith %}
  
  {% with form.proportion as proportion %}
  <label for="{{ proportion.id_for_label }}">{{ proportion.label }}</label>
  {% if supertask and supertask.accumulative %}
  <p class="my-1 mb-0 text-danger">Accumulated. If you don't want it accumulated, uncheck 'Accumuated subtask weight' in your supertask.</p>
  {% endif %}
  <div class="input-group mt-0 mb-3">
    <input id="{{ proportion.id_for_label }}" required type="{{ proportion.field.widget.input_type }}" class="form-control" placeholder="{{ proportion.label }}" name="{{ proportion.name }}" />
    <button class="btn btn-outline-primary" type="button" id="sexagesimal-to-decimal-btn-proportion" data-input-id="{{ proportion.id_for_label }}">Convert sexagesimal number to decimal.</button>
  </div>
  {% endwith %}
  
  {% with form.accumulative as accumulative %}
  <div class="form-check">
    <label class="form-check-label" for="{{ accumulative.id_for_label }}">{{ accumulative.label }}</label>
    <input class="form-check-input" type="{{ accumulative.field.widget.input_type }}" name="{{ accumulative.name }}" id="{{ accumulative.id_for_label }}">
    <p class="my-1">If you check, it will calculated appropriate weight from your accumulated value.</p>
    <p class="my-1 mb-3">For example, if your task is reading a book, say chapter 1 ends at pg 35 and chapter 2 at 60. Then you can just put 35 and 60 and it will calculate their weight 35 and 25 respectively.</p>
  </div>
  {% endwith %}
  
  {% with form.start as start %}
  <div id="div-{{ start.id_for_label }}" class="d-none mb-3 mt-0">
    <label for="{{ start.id_for_label }}">{{ start.label }} 👈 If your subtasks' weight is accumulated, you can set starting point.</label>
    <p class="my-1 mb-3">For example, say chapter 2 starts at pg 36, while section 1 starts at pg 42 and section 2 at 50. Then setting starting point at 36 will let their weight be calculated as 6 and 8 respectively.</p>
    <div class="input-group">
      <input id="{{ start.id_for_label }}" required type="{{ start.field.widget.input_type }}" class="form-control" placeholder="{{ start.label }}" name="{{ start.name }}" value="0" />
      <button class="btn btn-outline-primary" type="button" id="sexagesimal-to-decimal-btn-start" data-input-id="{{ start.id_for_label }}">Convert sexagesimal number to decimal.</button>
    </div>
  </div>
  {% endwith %}

  <button class="btn btn-primary" type="submit">CREATE</button>
</form>
<script>
  const accumulative = document.getElementById('{{ form.accumulative.id_for_label }}')
  const start = document.getElementById('div-{{ form.start.id_for_label }}')
  accumulative.addEventListener('click', (e) => {
    start.classList.toggle('d-none')
  })
</script>
<script src="{% static 'crackers/sexagesimalConverter.js' %}"></script>
{% endblock content %}