{% extends base_template %}

{% block task %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Objective</th>
      <th scope="col">Achievement</th>
      <th scope="col">Completed</th>
      <th scope="col">Duration</th>
      <th scope="col">Buttons</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    {% widthratio task.achievement 1 100 as width %}
    <tr>
      <th scope="row">{{ task.pk }}</th>
      {% if task.subtasks.exists %}
      <td>
        <button hx-get="{% url 'tracks:detail' task.pk %}" hx-target=".offcanvas-body" hx-swap="innerHTML" class="btn btn-link btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">{{ task.title }}</button>
      </td>
      {% else %}
      <td>
        <button class="btn btn-sm" hx-get="{% url 'tracks:create_task' task.pk %}" hx-target="body" hx-confirm="There's no related subtask. Create one now.">
          {{ task.title }}
        </button>
      </td>
      {% endif %}
      <td>
        <div class="progress" role="progressbar" aria-label="task-achievement" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-info text-body" style="width: {{ width }}%">{{ width }}% Achieved</div>
        </div>
      </td>
      <td><p class="btn btn-sm">{{ task.completed }}(체크박스 또는 hx)</p></td>
      <td><p class="btn btn-sm">{{ task.duration }}</p></td>
      <td>
        <a class="btn btn-primary btn-sm"
          hx-delete="{% url 'tracks:delete' task.pk %}"
          hx-confirm="Are you sure to delete this task? This will delete all related subtasks.">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock task %}