{% extends 'base.html' %}

{% block content %}
<h1>Objectives</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Objective</th>
      <th scope="col">Description</th>
      <th scope="col">Achievement</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for objective in objectives %}
    <tr hx-get="{% url 'tracks:subtask' objective.pk %}">
      <th scope="row">{{ objective.pk }}</th>
      <td>{{ objective.title }}</td>
      <td>{{ objective.description }}</td>
      <td>{{ objective.achievement }}</td>
    </tr>
    <caption>
      <a href="{% url 'tracks:create' %}">Create objective.</a>
    </caption>
    {% empty %}
    <caption>
      <a href="{% url 'tracks:create' %}">There's no objective set. Create one(Click Me).</a>
    </caption>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}