{% extends 'base.html' %}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'tracks:move_objective' current_task.pk %}">Top</a></li>
    {% for crumb in breadcrumb %}
    {% if forloop.last %}
    <li class="breadcrumb-item active" aria-current="page">{{ crumb.title }}</li>
    {% else %}
    <li class="breadcrumb-item"><a href="{% url 'tracks:move_task' current_task.pk crumb.pk %}">{{ crumb.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ol>
</nav>

<h1>Move Task {{ current_task.title }}</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Achievement</th>
      <th scope="col">Weight</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td><a href="{% url 'tracks:move_task' current_task.pk task.pk %}">{{ task.title }}</a></td>
      <td>
        <div class="progress" role="progressbar" aria-label="task-achievement" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          {% widthratio task.pseudo_achievement 1 100 as width %}
          <div id="task-progress-{{ task.pk }}" class="progress-bar bg-info text-body" style="width: {{ width }}%">
            {% if task.marked_complete %}Marked Complete{% else %}{{ width }}% Achieved{% endif %}
          </div>
        </div>
      </td>
      <td>{{ task.weight }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">Subtask does not exist.</td>
    </tr>
    {% endfor %}
    {% if target_pk %}
    <tr class="pointer">
      <td colspan="3" hx-put="{% url 'tracks:move_task' current_task.pk target_pk %}">Move Task Here.</td>
    </tr>
    {% else %}
    <tr class="pointer">
      <td colspan="3" hx-put="{% url 'tracks:move_objective' current_task.pk %}">Set as an Objective</td>
    </tr>
    {% endif %}
  </tbody>
</table>
<div class="d-flex justify-content-between">
  <div>
    <a href="{% url 'tracks:tasks' current_task.pk %}" class="btn btn-link">Cancel</a>
  </div>
  {% comment %} <div class="d-flex justify-content-end"> {% endcomment %}
  {% comment %} {% if target_pk %}
  <form action="{% url 'tracks:move_task' current_task.pk target_pk %}" method="post" class="mx-3">
    {% csrf_token %}
    <button type="submit" class="btn btn-link">Move Here</button>
  </form>
  {% endif %} {% endcomment %}
  {% comment %} <form action="{% url 'tracks:move_objective' current_task.pk %}" method="post" class="ms-3">
    {% csrf_token %}
    <button type="submit" class="btn btn-link">Set as an Objective</button>
  </form> {% endcomment %}
  {% comment %} </div> {% endcomment %}
</div>
{% endblock content %}