{% extends base_template %}
{% load custom_filters %}
{% block task_template %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Achievement</th>
      <th scope="col">Completed</th>
      <th scope="col">Buttons</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <th scope="row">{{ task.pk }}</th>
      {% if task.subtasks.exists %}
      <td>
        <button hx-get="{% url 'tracks:detail' task.pk %}" hx-target=".offcanvas-body" hx-swap="innerHTML" class="btn btn-link btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">{{ task.title }}</button>
      </td>
      {% else %}
      <td>
        <button class="btn btn-sm" hx-get="{% url 'tracks:create_subtask' task.pk %}" hx-replace-url="true" hx-target="body" hx-confirm="There's no related subtask. Create one now.">
          {{ task.title }}
        </button>
      </td>
      {% endif %}
      <td>
        <div class="progress" role="progressbar" aria-label="task-achievement" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          {% widthratio task.pseudo_achievement 1 100 as width %}
          <div id="task-progress-{{ task.pk }}" class="progress-bar bg-info text-body" style="width: {{ width }}%">
            {% if task.marked_complete %}Marked Complete{% else %}{{ width }}% Achieved{% endif %}
          </div>
        </div>
      </td>
      <td>
        <div class="form-check d-flex justify-content-center">
          <input
            hx-put="{% url 'tracks:complete' task.pk %}"
            hx-swap="none"
            hx-trigger="click"
            class="form-check-input"
            type="checkbox"
            id="flexCheckChecked" {% if task.completed %}checked{% endif %} {% if task|all_completed %}disabled{% endif %}>
        </div>
      </td>
      <td>
        <a class="btn btn-warning btn-sm m-1" href="{% url 'tracks:update' task.pk %}">UPDATE</a>
        <a class="btn btn-primary btn-sm m-1"
          hx-target="body"
          hx-delete="{% url 'tracks:delete' task.pk %}"
          hx-confirm="This will delete all related subtasks.">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock task_template %}