{% extends 'base.html' %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Objective</th>
      <th scope="col">Achievement / Completed</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    {% if forloop.first %}
    <h1 class="d-inline-block">Objective : {{ task.supertask.title }}</h1>
    <span># {{ task.supertask.type }}</span><br>
    <span>{{ task.supertask.achievement }}% Achieved</span>
    {% endif %}
    {% include 'crackers/components/table_row.html' %}
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'tracks:create' current_task_pk %}">Create Subtasks</a>
{% endblock content %}