{% extends 'base.html' %}

{% block content %}
<h1 class="d-inline-block">Objective : {{ supertask.title }}</h1>
<span># {{ supertask.type }}</span><br>
<span>{{ supertask.achievement }}% Achieved</span>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Objective</th>
      <th scope="col">Achievement</th>
      <th scope="col">Completed</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    {% include 'crackers/components/table_row.html' %}
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'tracks:create' supertask.pk %}">Create Subtask</a>
<a href="{% url 'tracks:update' supertask.pk %}">Update Task</a>
{% endblock content %}